
  .back-button {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .back-button svg {
    margin-right: 5px;
  }


.todo{
    width: 330px;
    display:block;
    justify-content: center;
    margin-top: 20px;
    box-shadow: 2px 2px 24px -1px rgba(0, 0, 0, 0.2);
    height: 38vh;
    padding: 10px;
    margin-top: 150px;
    margin-left: 650px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
    
}

.todo-minus{
    display: flex;
    justify-content: end;
    width: 10px;
    color: aliceblue;
    margin-left: 315px;
    cursor: pointer;
    
}

.todo-title{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    color: aliceblue;
    cursor: grab;
    margin-top: -10px;
}
.tasks {
    flex-grow: 1; /* As divs tasks ocupam o espaço disponível */
    overflow-y: auto; /* Rolagem apenas nas tasks */
    max-height: calc(38vh - 90px); /* Altura máxima, ajustando para caber na div todo */
    margin-bottom: 10px; /* Espaço para o botão fixo */
}

.todo-add-button{
    margin-left: 295px;
    display: flex;
    justify-content: end;
    margin-top: 160px;
    position: absolute; /* O botão estará posicionado relativamente à div todo */
    bottom: 5px; /* Mantém o botão fixo na parte inferior */
    
}

.todo-add-button button{
    border-radius: 4px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px 3px 5px 10px;
    color: white;
    font-size: 20px;
}

.todo-add-button button:hover{
    border-radius: 4px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px 3px 5px 10px;
    color: #B4B4B8;
    font-size: 20px;
}

.buttonExpand{
    border-radius: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 14px;
    margin-left: 20px;
    margin-right: -35px;
}

.buttonExpand:hover{
    color: #B4B4B8;
    
}

.task button{
    border-radius: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 14px;
    padding: 2px 5px 2px 5px;
    
}

.task button:hover{
    background-color: #B4B4B8;
}

.task-details-title{
    border: 1px solid aliceblue;
    padding: 6px;
    border-radius: 4px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px;
    margin-top: 30px;
}

.task-details-title p{
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    color: aliceblue;
    background: none;
    font-size: 12px;
}


.task-details-description input{
    width: 296px;
    line-height: 7em;
    border: 1px solid aliceblue;
    padding: 6px;
    border-radius: 4px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px;
    margin-top: 15px;
    background: none;

    font-family: "Montserrat", sans-serif;
    color: aliceblue;
    background: none;
    font-size: 12px;
}

.task-details-description input:focus{
    outline: 0;
}

.task input{
    width: 200px;
    border: none;
    font-family: "Montserrat", sans-serif;
    color: aliceblue;
    background: none;
    font-size: 12px;
    cursor:default;
    
}

.task button{
    margin-left: 45px;
}

.task input:focus{
    outline: 0;
    
}

::placeholder{
    color: aliceblue;
}

.task{
    border: 1px solid aliceblue;
    padding: 4px;
    border-radius: 4px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px;
}

.task .task-checkbox{
    background-color: transparent;
    margin: 0px 8px 0px 3px;
    padding: 9px;
    cursor: pointer;
}

input[type=checkbox] {
    transform: scale(1.0);
    appearance: none;
    width: 1.15em;
    height: 1.15em;
    border: 1px solid white;
    border-radius: 0.15em;
    display: grid;
    place-content: center; 
   
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: white;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }